{{ define "main" }}

<section class="site-mentions-legales">
  <video autoplay muted class="arcenciel-animation">
    <source src="/images/backgrounds/arc-en-ciel-animation.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>
            {{ .Params.heading }}
          </h2>
        </div>
      </div>
      {{ range .Site.Data.mentionslegales.mentions_legales_item }}
      <div class="col-12">
        <h5>{{ .title }}</h5>
        <p>{{ .value }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "call-to-action.html" }}

{{ end }}